:root {
  --first-color: #0a0a23;
  --second-color: #1b1b32;
  --third-color: #9f73ab;
  --fourth-color: #a3c7d6;
  --fitfh-color: #f5f6f7;
  --dark-mode: #1b1b32;
}

.task-container {
  /* width: 100%; */
  width: 100%;
  max-width: 280px;
  background-color: #1b1b32;
  margin: 5px;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
}

/* Colores */
.task-container:nth-child(3n + 1) {
  background-color: #1b1b32;
}

.task-container:nth-child(3n + 2) {
  background-color: #2a2a40;
}

.task-container:nth-child(3n + 3) {
  background-color: #3b3b4f;
}

.task-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere; /*  */
}

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/* Tarea Completada */

.task-container.completed {
  background-color: #935fc0;
  text-decoration: line-through;
}
