:root {
  --first-color: #0a0a23;
  --second-color: #1b1b32;
  --third-color: #9f73ab;
  --fourth-color: #a3c7d6;
  --fitfh-color: #f5f6f7;
  --dark-mode: #1b1b32;
}

.form {
  width: 90%;
  position: relative;
}

.form__textarea {
  width: 100%;
  height: 50px;
  padding: 15px 35px 15px 15px;
  border-radius: 25px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: var(--fitfh-color);
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  resize: none;
  outline: none;
}

/* Estilos de la barra de desplazamiento */
.form__textarea::-webkit-scrollbar {
  width: 5px;
}

.form__textarea::-webkit-scrollbar-track {
  background: var(--second-color);
}

.form__textarea::-webkit-scrollbar-thumb {
  background-color: var(--fitfh-color);
  border-radius: 5px;
}

.form__textarea::placeholder {

}

.button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--first-color);
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
}

.button__icon {
  width: 100%;
  height: 100%;
  fill: var(--fourth-color);
}

.button__icon:hover {
  fill: var(--fitfh-color);
}


